.header {
    background-color: red;
    height: 100px;
    width: 100%;
  }
  body {
    margin: 0;
    box-sizing: border-box;
  }
  .main__content {
    display: flex;
  }
  a {
    text-decoration: none;
  }
  .header__inner {
    display: flex;
    justify-content: flex-around;
  }
  .image_size {
    margin-top: 20px;
  }
  .header__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    margin: 40px 25px;
  }
  .container {
    float: left;
    margin: 0 30px;
  }
  .wrap__main{
    display: flex;
    width: 70%;
    flex-wrap: wrap;
  }
  .main_images {
    max-width: 300px;
    height: 200px;
  }
  .main_text {
    clear: both;
    font-size: 18px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
  }
  .main__description{
    max-width: 300px;
    overflow: hidden;
  }
  .primary{
    background-color: orangered;
    border: 0.3px;
    border-radius: 10%;
    width: 120px;
    height: 50px;
  }
  .primary:hover {
    border: 0.7px solid grey;
    
  }
  .filter {
    display: flex;
    justify-content: space-around;
    background-color: purple;
    opacity: 75%;
    color: #fff;
    font-size: 20px;
    align-items: center;
    height: 70px;
  }
/* cart style */ 
.cart__wrapper{
  width: 30%;
}
.cart__container {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.cart__container li {
  list-style-type: none;
  margin: 20px 0;
}
 .cart__image{
float: left;
} 
.cart__icon{
  max-width: 90px;
}
.cart__name{
 float: left;
 margin-top: 5%;
}  
.cart__name .primary{
  margin-top: 10px;
  height: 30px;
  width: 100px;
}

/*Form style  */
form {
  width: 100%;
}
.form__container {
  list-style-type: none;
  width: 100%;
  padding: 0;
}
.form__container li {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
input {
  padding: 10px;
  border: .1px solid #c0c0c0;
}


/* Modal style */
.close__modal {
  float: right;
}
.modal__container{
  display: flex;
}


